<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!--General Settings-->
    <add key="BookFile" value="Book.xml" />
    
    <!--AI Depth Settings-->
    <add key="AIDepth" value="4" />
    <add key="CullDuringIterativeDeepening" value="True"/>
    <add key="CullStartDepth" value="4"/>
    <add key="CullKeepPercentage" value="35"/>
    <add key="CullMinKeepCount" value="4"/>
   
    <!--Sort Settings-->
    <add key="SortMinFullSortDepth" value="5"/>
    
    <!--Piece Value Settings-->
    <!--###NOTE###-->
    <!--Pieces are values compared to a single pawn, which is worth 100-->
    <!--Note that ALL positional scoring factors are valued on the same scale-->
    <!--King is invaluable so no need for it to have a score-->
    <add key="KnightValue" value="295"/>
    <add key="BishopValue" value="305"/>
    <add key="RookValue" value="495"/>
    <add key="QueenValue" value="1000"/>
    
    <!--Positional Scoring Values-->
    <!--My experience leads me to believe that in computer chess no one positional advantage is worth-->
    <!--more than a pawn (100)-->
    <add key="TinyPosBonus" value="1"/>
    <add key="VerySmallPosBonus" value="2"/>
    <add key="SmallPosBonus" value="5"/>
    <add key="MediumPosBonus" value="10"/>
    <add key="LargePosBonus" value="15"/>
    <add key="VeryLargePosBonus" value="25"/>
    <add key="HugePosBonus" value="50"/>
    <add key="GiganticPosBonus" value="80"/>
    <add key="ImmensePosBonus" value="100"/>

    <!--Aspiration Window Settings-->
    <add key="EarlyGameAspirationWindow" value="325"/>
    <add key="EarlyMidGameAspirationWindow" value="550"/>
    <add key="LateMidGameAspirationWindow" value="650"/>
    <add key="EndGameAspirationWindow" value="800"/>
    <add key="AspirationWindowDepthByDepthReduction" value="40"/>

  </appSettings>
</configuration>